<section class="posts">
    <button id="newpost" class="btn">Create New Post</button>
    <div id="newtemplate" class="card card-body">
      <textarea id="createtitle">Blog title</textarea>
      <textarea id="createbody">Blog post</textarea>
        <button id="createpost" class="btn-no-style" onclick="createPost()">Post</button>
    </div>
    {{#each posts as |post|}}
    {{> dashboard-details}}
    {{/each}}
    <script src="/js/dashboard.js"></script>
</section>