<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="loginusername">Username:</label>
        <input class="form-input" type="text" id="loginusername" />
      </div>
      <div class="form-group">
        <label for="loginpassword">Password:</label>
        <input class="form-input" type="password" id="loginpassword" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="signupusername">Username:</label>
        <input class="form-input" type="text" id="signupusername" />
      </div>
      <div class="form-group">
        <label for="signuppassword">Password:</label>
        <input class="form-input" type="password" id="signuppassword" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>