:root {
  --primary: #1f1f1f;
  --secondary: #327099;
  --light: #e3e4e3;
  --border-radius: 2.5%;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--primary);
}

/* header */
header {
  padding: 20px;
  text-align: left;
  background: var(--primary);
  color: var(--light);
  text-shadow: 0 0 1px var(--secondary);
}

header h1 {
  max-width: fit-content;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2px;
  border: 5px solid var(--secondary);
  border-radius: var(--border-radius);
}

header a {
  color: var(--light);
}

header a:hover {
  color: var(--light);
  text-decoration: none;
}

/* nav */
nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  font-weight: bold;
  text-shadow: 0 0 2px var(--primary);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--light);
  background-color: var(--primary);
  text-decoration: none;
}

.btnlogout {
  color: var(--light);
  font-weight: bold;
  text-shadow: 0 0 2px var(--primary);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  background-color: var(--secondary);
  border: none;
}

.btnlogout:hover {
  color: var(--light);
  background-color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

/* blog posts */
main {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
}

.blogposts {
  background-color: var(--primary);
  width: 65%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepost {
  margin: 10px 0 10px 0;
  border: 5px solid var(--secondary);
  border-radius: var(--border-radius);
  background-color: var(--primary);
  color: var(--light);
  font-size: 1.4rem;
  text-align: center;
}

.dbpost {
  margin: 10px 0 10px 0;
  padding: 8px;
  border: 5px solid var(--secondary);
  border-radius: var(--border-radius);
  background-color: var(--primary);
  color: var(--light);
  font-size: 1.4rem;
  /* text-align: center; */
}

textarea {
  resize: none;
}

.btndbedit {
  background-color: var(--secondary);
  color: var(--light);
  transition: color 0.1s;
  border: none;
  border-radius: 6%;
}

.btndbedit:hover {
  cursor: pointer;
  opacity: 80%;
}

.btndbdel {
  background-color: #9e1212;
  color: var(--light);
  transition: color 0.1s;
  border: none;
  border-radius: 6%;
}

.btndbdel:hover {
  cursor: pointer;
  opacity: 80%;
}

#btnnewpost {
  color: var(--light);
  font-weight: bold;
  background-color: var(--secondary);
  width: 25%;
  transition: color 0.1s;
}

#btnnewpost:hover {
  cursor: pointer;
  opacity: 80%;
}

.addbtns {
  margin: 4px;

}
.pstbtn {
  margin: 4px;
}

.newcomment {
  text-align: left;
  margin-left: 5px;
  width: auto;
}

.commentbody {
  text-align: left;
  margin-left: 10px;
  background-color: var(--secondary);
}

.commentheader {
  text-align: left;
  margin-left: 10px;
  font-size: .5em;
  font-style: italic;
  font-weight: lighter;
}

/* login page */
.login-box {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border-radius: var(--border-radius);
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  color: var(--light);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}