:root {
  --primary: #161718;
  --secondary: #327099;
  --tertiary: #049ff8;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 2.5%;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--primary);
}

/* header */
header {
  padding: 40px;
  text-align: left;
  background: var(--primary);
  color: var(--light);
  text-shadow: 0 0 1px var(--secondary);
}

header h1 {
  max-width: fit-content;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 5px solid var(--secondary);
  border-radius: var(--border-radius);
}

header a {
  color: var(--light);
}

header a:hover {
  color: var(--light);
  text-decoration: none;
}

/* nav */
nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  font-weight: bold;
  text-shadow: 0 0 2px var(--primary);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--light);
  background-color: var(--primary);
  text-decoration: none;
}

.btnlogout {
  color: var(--light);
  font-weight: bold;
  text-shadow: 0 0 2px var(--primary);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  background-color: var(--secondary);
  border: none;
}

.btnlogout:hover {
  color: var(--light);
  background-color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

/* blog posts */
main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: var(--primary);
}

.blogposts {
  flex: 4;
  background-color: var(--primary);
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.post {
  margin: 20px;
  flex: 0 1 300px;
  border: 5px solid var(--secondary);
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--dark);
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

/* login page */
.login-box {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border-radius: var(--border-radius);
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  color: var(--light);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}